html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;  
  /* font-family: 'Nanum Pen Script', cursive; */
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header, footer {
  background: #ccc;
}